.pfl {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: black;
}
table, th, td {
    border:1px solid black;
  }
.pfl button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.pfl button:hover {
    background-color: #d32f2f;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

@media only screen and (max-width: 600px) {
    table {
        border: none;
    }

    th, td {
        border: none;
        padding: 2px;
    }
}
